.receipt-left {
    font-size: 1.6rem;
    width:  100%;
}

.receipt-infor {
    width: 100%;
}

.receipt-infor h4 {
    text-transform: uppercase;
    font-weight: 700;
}

.receipt-right {
    font-size: 1.6rem;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 10px;
}
